<!DOCTYPE html>
<html>

<head>

    <title>Congratulation!</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="text-center pt-10 mt-6">
    <h1 class="font-bold text-xl ">Thank You for Confirming Your Email Address</h1>
    <p >Your email address has been successfully verified.</p>
    <p class="py-2"><a href="http://localhost:3000">
        <button class="rounded-3xl px-6 py-2 bg-green-400 text-white">Go Home</button>
    </a></p>
</body>

</html>